

body {
    background: #ccc;
}
h1 {
    font-family: "Press Start 2P", serif;
    color: white;
    padding: 45px;
}
h2 {
   font-family: "Source Code Pro", monospace;
}
label{
   font-family: "Source Code Pro", monospace;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
    background #2e364a:
}
.container {
    position: relative;
    width: 50%;
    padding: 10px 50px;
    box-sizing: border-box;
}
.timeline-content {
    position: relative;
    background: #fff;
    padding: 20px 30px;
    border-radius: 6px;
    font-size: 15px;
    font-family: "Source Code Pro", monospace;
}

.left-container {
    right: 0;
}
.right-container {
    left: 50%;
}
.container img {
    position: absolute;
    width: 40px;
    border-radius: 50%;
    top: 32px;
    z-index: 10;
    background: #fff;

}

.right-container img {
    left: -20px;
}

.left-container img {
    right: -20px;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #fff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
}

.top {
	position: relative;
	min-height: 250px;
    align-items: start;
	background: rgb(96,76,164);
}

.navigation-entry {
    font-size: 15px;
    font-family: "Source Code Pro", monospace;
    color: #eee;
    align-items: center;
    padding: 0 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
  font-family: "Source Code Pro", monospace;
  align-items: center;
  padding: 0 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.filter-wrapper {
    display: inline;
    margin: 15px;
}

.subtitle {
        font-family: "Source Code Pro", monospace;
        color: white;
        text-align: center;
}

.project {
    background: white;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px;
}

.contents-block {
    width: 70%;
}

.contents-block h2{
    font-family: "Press Start 2P", serif;
}
.image img {
    width: 400px;
    height: auto;
}

.image {
    padding: 20px;
    width: 30%;
}

.homehead {
    display: flex;
}

.search-bar{
    margin-left: auto;
}

.search_results {
    float: right;
}
.result-items {
    background: white;
    padding: 20px 30px;
    border-radius: 6px;
    margin: 5px;
    width: 400px;
    font-size: 15px;
    font-family: "Source Code Pro", monospace;
}



@media only screen and (max-width: 950px) {
  .homehead {
    display: flex;
  }

  .search-bar {
    display: flex;
  }
  .search-bar button{
   width: 38%;
   height: 20px;
   margin-top: 18px;
  }
  .search-bar input{
    margin: 3px;
    width: 64%;
    height: 15px;
    margin-top: 18px;

  }
}
