<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GWSLT2GW55"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-GWSLT2GW55');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <title>My Articles</title>
    <meta name="description" content="My tech articles published on medium" />
    <meta name="keywords" content="allati's articles, ian ekwoge on medium, ian ekwoge medium, allati blog" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div class='top'>
    <nav class="nav-bar">
        <a class="navigation-entry" href="/">Home</a>
        <a class="navigation-entry" href="/activity-feed">Activity feed</a>
        <a class="navigation-entry" href="/projects">Projects</a>
        <a class="navigation-entry" href="/test-automation-journey">Test Automation Journey</a>
        <a class="navigation-entry" href="/devops-journey">Devops Journey</a>
        <a class="navigation-entry" href="/about">About</a>
        <a class="navigation-entry" href="/articles">Articles</a>
        <a class="navigation-entry" href="/other-interests">Other Interests</a>
        <a class="navigation-entry" href="/playground">Playground</a>
    </nav>
        <div id="hamburger-icon" onclick="toggleMobileMenu(this)">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="mobile-menu">
                <button class="close-button" onclick="toggleMobileMenu(this)">✖</button>
                <a class="navigation-entry" href="/">Home</a>
                <a class="navigation-entry" href="/activity-feed">Activity feed</a>
                <a class="navigation-entry" href="/projects">Projects</a>
                <a class="navigation-entry" href="/test-automation-journey">Test Automation Journey</a>
                <a class="navigation-entry" href="/devops-journey">Devops Journey</a>
                <a class="navigation-entry" href="/about">About</a>
                <a class="navigation-entry" href="/articles">Articles</a>
                <a class="navigation-entry" href="/other-interests">Other Interests</a>
            </div>

        </div>
    <h1>Articles on medium</h1>
</div>

</header>
<script>
    function toggleMobileMenu(menu) {
      menu.classList.toggle('open');
    }
</script>
        {% for feed_item in feed_items %}
        <div class="articles">
            <div class="article">
                <div class="article-content">
                    <h2 class="h3">{{ feed_item.title }}</h2>
                    <div class="metadata">
                    <div>{{ feed_item.resource }}</div>
                </div>
                    {{ feed_item.description }}
            </div>
                <div><a href="{{ feed_item.link }}" target="_blank">Read on medium</a></div>
        </div>
    </div>
    {% endfor %}
</body>
</html>
