<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>devops-journey</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <div class='top'>
        <section class="nav-bar">
            <a class="navigation-entry" href="/">Home</a>
            <a class="navigation-entry" href="/activity-feed">Activity feed</a>
            <a class="navigation-entry" href="/projects">Projects</a>
            <a class="navigation-entry" href="/test-automation-journey">Test Automation Journey</a>
            <a class="navigation-entry" href="/devops-journey">Devops Journey</a>
            <a class="navigation-entry" href="/about">About</a>
            <a class="navigation-entry" href="/other-interests">Other Interests</a>
        </section>
        <h1>Timeline for my Devops journey</h1>
        <p class="subtitle">
        loren ipsum
        </p>


    </div>

<div class="timeline">
    {% for entry in timeline_data %}
    <div class="container {{ entry.side }}-container">
        <img src="{{ entry.image_url }}" alt="{{ entry.title }}">
        <div class="timeline-content">
            <h2>{{ entry.title }}</h2>
            <small>{{ entry.date_range }}</small>
            <p>{{ entry.description }}</p>
            <i>Resources: </i>
            <a href="{{ entry.link }}" >{{ entry.resource }}</a>
        </div>
    </div>
    {% endfor %}
</div>
</body>
</html>
