<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class='top'>
    <section class="nav-bar">
        <a class="navigation-entry" href="/">Home</a>
        <a class="navigation-entry" href="/activity-feed">Activity feed</a>
        <a class="navigation-entry" href="/projects">Projects</a>
        <a class="navigation-entry" href="/test-automation-journey">Test Automation Journey</a>
        <a class="navigation-entry" href="/devops-journey">Devops Journey</a>
        <a class="navigation-entry" href="/about">About</a>
        <a class="navigation-entry" href="/other-interests">Other Interests</a>

    </section>


</div>
<header>
    <h2 class="filter-wrapper">Filter:</h2>
    <div class="dropdown">
        <span>Tech</span>
        <div class="dropdown-content">
            <p>Hello World!</p>
        </div>
    </div>
    <div class="dropdown">
        <span>Tech</span>
        <div class="dropdown-content">
            <p>Hello World!</p>
        </div>
    </div>
    <div class="dropdown">
        <span>Tech</span>
        <div class="dropdown-content">
            <p>Hello World!</p>
        </div>
    </div>



</header>
</body>
</html>
