<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GWSLT2GW55"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-GWSLT2GW55');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>

<header>
    <div class='top'>
    <nav class="nav-bar">
        <a class="navigation-entry" href="/">Home</a>
        <a class="navigation-entry" href="/activity-feed">Activity feed</a>
        <a class="navigation-entry" href="/projects">Projects</a>
        <a class="navigation-entry" href="/test-automation-journey">Test Automation Journey</a>
        <a class="navigation-entry" href="/devops-journey">Devops Journey</a>
        <a class="navigation-entry" href="/about">About</a>
        <a class="navigation-entry" href="/articles">Articles</a>
        <a class="navigation-entry" href="/other-interests">Other Interests</a>
    </nav>
        <div id="hamburger-icon" onclick="toggleMobileMenu(this)">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="mobile-menu">
                <button class="close-button" onclick="toggleMobileMenu(this)">✖</button>
                <a class="navigation-entry" href="/">Home</a>
                <a class="navigation-entry" href="/activity-feed">Activity feed</a>
                <a class="navigation-entry" href="/projects">Projects</a>
                <a class="navigation-entry" href="/test-automation-journey">Test Automation Journey</a>
                <a class="navigation-entry" href="/devops-journey">Devops Journey</a>
                <a class="navigation-entry" href="/about">About</a>
                <a class="navigation-entry" href="/articles">Articles</a>
                <a class="navigation-entry" href="/other-interests">Other Interests</a>
            </div>

        </div>
    <h1>Welcome to My Galactic Hub!</h1>
    <p class="subtitle">
        Greetings, fellow traveler of the cosmos! Whether you're a tech Jedi,
        a curious Padawan, or just a passerby, may the Force be with you as you explore my digital galaxy.
    </p>
</div>
    <div class="homehead">
        <form method="get" class="filter" action="/categories" id="categoryForm">
        <label for="category">Filter by category:</label>
        <select name="category" id="category" >
            <option value="activity-feed">Activity Feed</option>
            <option value="aqa" selected>Test Automation Journey</option>
            <option value="devops">Devops Journey</option>
            <option value="projects">Projects</option>
        </select>
        <button type="submit">Filter</button>
        </form>

        <form class="search-bar" method="get" action="/api/v1/search">
        <input type="text" placeholder="Search.." id="tags" name="search">
        <button type="submit">Search<i class="fa fa-search"></i></button>
        </form>
    </div>

</header>
<script>
    function toggleMobileMenu(menu) {
      menu.classList.toggle('open');
    }
</script>
<div class="timeline">
    {% if timeline_data %}
        {% for entry in timeline_data %}
        <div class="container {{ entry.side }}-container">
            <img src="{{ entry.image_url }}" alt="{{ entry.title }}">
            <div class="timeline-content">
                <h2>{{ entry.title }}</h2>
                <small>{{ entry.date_range }}</small>
                <p>{{ entry.description }}</p>
            </div>
        </div>
        {% endfor %}
    {% endif %}
</div>
{% if projects %}
    {% for project in projects %}
    <div class="project">
        <div class="contents-block">
            <div class="contents">
                <h2 class="h3">{{ project.title }}</h2>
                <div class="metadata"> </div>
                <div>{{ project.resource }}</div>
                <div>
                    <a href="{{ project.link }}" target="_blank">Source</a>
                </div>
            </div>
                <p>{{ project.description }}</p>
            </div>
    </div>
    <div class="image">
        {% set file_name = project.image_location.split('/')[-1].split('\\')[-1] %}
        <img src="{{ url_for('static', filename='images/' + file_name) }}" alt="y">
    </div>

    {% endfor %}
{% endif %}
<div class="search_results">
    {% if search_results %}
        {% for entry in search_results %}
            <div class="result-items">
                <h2>{{ entry.title }}</h2>
                <small>{{ entry.date_range }}</small>
                <p>{{ entry.description }}</p>
            </div>
        {% endfor %}
    {% endif %}
    {% if no_search_results %}
        <p>No search results found.</p>
    {% endif %}
</div>
</body>
</html>
