<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
<div class='top'>
    <section class="nav-bar">
        <a class="navigation-entry" href="/">Home</a>
        <a class="navigation-entry" href="/activity-feed">Activity feed</a>
        <a class="navigation-entry" href="/projects">Projects</a>
        <a class="navigation-entry" href="/test-automation-journey">Test Automation Journey</a>
        <a class="navigation-entry" href="/devops-journey">Devops Journey</a>
        <a class="navigation-entry" href="/about">About</a>
        <a class="navigation-entry" href="/other-interests">Other Interests</a>

    </section>
    <h1>Projects I've worked on</h1>


</div>
</body>
</html>
